<div class="page-header">
  <h1>
    Resorts
    <a href="/resorts/new" class="btn btn-lg btn-success">New Resort</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Name</th>
        <th>State</th>
        <th>Forecast</th>
        <th>Airport</th>
        <th>Flight cost</th>
        <th>Actions</th>
      </tr>

      <% @resorts.each do |resort| %>
      <tr>
        <td><%= resort.name %></td>
        <td><%= resort.state %></td>
        <td><%= resort.forecast %></td>
        <td><%= resort.airport %></td>
        <td><%= resort.flight_cost %></td>
        <td>
          <a href="/resorts/<%= resort.id %>" class="btn btn-primary">Show</a>
          <a href="/resorts/<%= resort.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_resort/<%= resort.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
